.jumbotron {
    width: 100%;
    min-height: 300px;
    padding-top: 100px;
    margin: 0px;
    margin-bottom: 5%;
    display: table;
    padding: 180px 20px;
    color: #ffffff;	    
    background-image: url("https://static01.nyt.com/images/2019/12/17/books/review/17fatbooks/17fatbooks-superJumbo.jpg");
    background-size: cover;
	background-attachment: fixed;
}